<header class="block block--white">
  <nav class="app-navigation block block--white">
    <ul class="app-links">
      <li class="app-link">
        <a class="link" href="/code-gov-style">Code.gov Style Guide</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/banners">Banners</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/blocks">Blocks</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/buttons">Buttons</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/cards">Cards</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/dividers">Dividers</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/footers">Footers</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/forms">Forms</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/inputs">Inputs</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/links">Links</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/navbars">Navbars</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/quotes">Quotes</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/sidebars">Sidebars</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/tables">Tables</a>
      </li>
      <li class="app-link">
        <a class="link" href="/code-gov-style/classes/widths">Widths</a>
      </li>
    </ul>
  </nav>
</header>
