.autocomplete {
  background-color: #ffffff;
  border: 1px solid lighten(#1c4772, 20);
  display: block;
  margin-top: 0;
  position: relative;
  text-align: left;
  top: 0.25em;
  width: 100%;
  z-index: 1000;

  li {
    cursor: pointer;
    padding: 10px;

    &:hover{
      background-color: #7baddf;
    }

    a {
      text-decoration: none;
      span {
        color: black;
      }
    }
  }
}
