.banner {
  background: url('/code-gov-style/assets/img/american_flag_1920x1280_gradient.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 8rem;
  padding-top: 8rem;
  position: relative;
  text-align: center;

  &.large {

    @media screen and (min-width: $small-screen) {
      padding: 16rem 0 16rem;
    }

    min-height: 34vh;

    .banner-title {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    .banner-subtitle {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }

  .banner-title {
    color: #ffffff;
    font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;

    @media screen and (min-width: $small-screen) {
      font-size: 2.8em;
    }

    @media screen and (min-width: $medium-screen) {
      font-size: 3.2em;
    }

  }

  .banner-subsection-title {
    color: #ffffff;
    font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
  }

  .banner-subtitle {
    color: $color-white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin: 0rem auto 3rem;
    max-width: 40rem;

    @media screen and (min-width: $small-screen) {
      font-size: 1.2em;
    }

    @media screen and (min-width: $medium-screen) {
      font-size: 1.4em;
    }
  }

  .banner-subsection-subtitle {
    color: $color-white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 40rem;

    @media screen and (min-width: $small-screen) {
      font-size: 1.2em;
    }

    @media screen and (min-width: $medium-screen) {
      font-size: 1.4em;
    }
  }

}
