.card {
  background-color: $color-white;
  border: 1px solid $color-gray-light;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.5em;
  position: relative;

  @media screen and (min-width: $medium-screen) {
    padding: 1em;
  }

  &.focusable {
    transition: all 0.2s ease;

    &:hover {
      box-shadow: 0 3px 5px rgba($color-gray-dark, 0.25);
    }
  }

  .corner-tag {
    color: white;
    position: absolute;
    bottom: auto;
    left: auto;
    right: 0;
    top: 0;
    width: 3.75em;
    height: 3.75em;
    
    &.high {
      background-color: #33CC66;
      background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22500%22%20width%3D%22500%22%3E%0A%20%20%3Cpolygon%20points%3D%220%2C0%20500%2C0%20500%2C500%200%2C0%22%20fill%3D%22%2333CC66%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E");
    }
    
    &.medium {
      background-color: #FF9933;
      background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22500%22%20width%3D%22500%22%3E%0A%20%20%3Cpolygon%20points%3D%220%2C0%20500%2C0%20500%2C500%200%2C0%22%20fill%3D%22%23FF9933%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E");
    }
    
    &.low {
      background-color: #F00;
      background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22500%22%20width%3D%22500%22%3E%0A%20%20%3Cpolygon%20points%3D%220%2C0%20500%2C0%20500%2C500%200%2C0%22%20fill%3D%22%23F00%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E");
    }
    
    .corner-tag-value {
      display: inline-block;
      height: 25%;
      line-height: 0.75;
      position: absolute;
      right: 0;
      top: 12.5%;
      text-align: center;
      width: 62.5%;
    }
    
  }

  .card-title {
    clear: both;
    color: $brand-blue;
    font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: underline;

    &:hover {
      color: $brand-teal;
    }

    &:visited {
      color: $brand-blue;
    }
  }

  .card-date {
    color: #aeb0b5;
    font-size: 1em;
  }

  .card-description {
    font-size: 0.95em;
    margin: 0;
  }
}
