@font-face {
  font-family: 'code-gov';
  src: url('../fonts/code-gov.eot?63238540');
  src: url('../fonts/code-gov.eot?63238540#iefix') format('embedded-opentype'),
       url('../fonts/code-gov.woff2?63238540') format('woff2'),
       url('../fonts/code-gov.woff?63238540') format('woff'),
       url('../fonts/code-gov.ttf?63238540') format('truetype'),
       url('../fonts/code-gov.svg?63238540#code-gov') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'code-gov';
    src: url('../fonts/code-gov.svg?63238540#code-gov') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "code-gov";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-ok-circled2:before { content: '\e802'; } /* '' */
.icon-arrows-cw:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-floppy:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */