$breakpoint: 937.5px;

footer {
  background-color: $brand-blue-light;
  clear: both;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  position: relative;

  @media screen and (min-width: $medium-screen) {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  // center if on small mobile device
  @media screen and (max-width: $breakpoint) {
    height: auto;

    // don't show images on mobile
    img {
      display: none;
    }
  }

  .footer-content {
    margin: 0 auto;
    max-width: 1024px;
    padding: 2rem;
    position: relative;

    @media screen and (min-width: $breakpoint) {
      padding: 0;
    }
  }

  .footer-part {
    @media screen and (min-width: $breakpoint) {
      &.is-flex {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }

      &.is-inline {
        display: inline-block;
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        @media screen and (min-width: $breakpoint) {
          display: inline-block;
          margin: 2rem;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &.links {
      ul {
        text-align: left;

        @media screen and (min-width: $breakpoint) {
          text-align: center;
        }

        &.left {
          text-align: left;
        }

        li {
          @media screen and (min-width: $breakpoint) {
            margin: 0 2rem 0 0;

            &:not(:first-of-type) {
              margin: 0 2rem;
            }
          }

          a {
            border-bottom: 3px solid transparent;
            color: $color-gray;
            text-decoration: none;

            &:hover {
              border-color: $brand-blue-dark;
              color: $brand-blue-dark;
            }

            &:visited {
              color: $color-gray;
            }
          }
        }
      }
    }

    &.logos {
      ul {
        @media screen and (max-width: $breakpoint) {
          margin: 1em 0;
        }

        @media screen and (min-width: $breakpoint) {
          // https://css-tricks.com/fighting-the-space-between-inline-block-elements/
          font-size: 0;
        }

        li {
          a {
            text-decoration: none;

            img {
              @media screen and (min-width: $breakpoint) {
                height: 7rem;
                display: inline-block;

                + span {
                  padding-left: 1.5rem;
                  font-size: initial;
                  vertical-align: bottom;
                  display: inline-block;
                }
              }

              @media screen and (min-width: 1000px) {
                height: 10rem;
              }
            }

            @media screen and (max-width: $breakpoint) {
              border-bottom: 3px solid transparent;
              color: $color-gray;
              text-decoration: none;

              &:hover {
                border-color: $brand-teal-medium;
                color: $brand-blue-dark;
              }

              &:visited {
                color: $color-gray;
              }
            }
          }
        }
      }
    }

    &.socials {
      &.is-inline {
        position: relative;
        top: -5px;
      }

      ul {
        height: 30px;
        margin: 0 0.5rem 0 0;

        li {
          display: inline-block;
          margin: 0 0.5rem 0 0;

          &:not(:first-of-type) {
            margin: 0 0.5rem;
          }

          a {
            text-decoration: none;
            display: block;
            height: inherit;

            > div.icon {
              margin: 0;
              color: $brand-gray;
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  &.dark {
    background-color: $color-gray-dark;
    color: $color-gray-lighter;

    .footer-content {
      div.links {
        ul {
          li {
            a {
              color: $color-gray-lighter;

              &:hover,
              &:visited {
                color: $color-gray-lighter;
              }
            }
          }
        }
      }
    }
  }
}
