$breakpoint: 937.5px;

footer {
  background-color: #e9e9e9;
  clear: both;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $medium-screen) {
    padding-bottom: 3rem;
    padding-top: 0.75rem;
    padding-right: 0;
    padding-left: 0;
  }

  position: relative;
  text-align: left;

  // center if on small mobile device
  @media screen and (max-width: $breakpoint) {
    height: auto;
    text-align: center;
    padding: 2rem;

    // don't show images on mobile
    img {
      display: none;
    }
  }

  @media screen and (min-width: $medium-screen) {
    height: 18rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .footer-content {
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: left;

    .footer-part {
      overflow: hidden;
      text-align: left;
      vertical-align: top;

      @media screen and (max-width: 400.5px) {
        padding: 0 1rem;
      }

      @media screen and (min-width: 400.5px) {
        padding: 0 3rem;
      }

      @media screen and (max-width: $breakpoint) {
        display: inline-block;
        position: relative;
      }

      @media screen and (min-width: $breakpoint) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
      }

      ul {
        li {
          @media screen and (min-width: $breakpoint) {
            display: inline-block;
            margin: 2rem;

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      &.links {
        text-align: left;

        @media screen and (min-width: $breakpoint) {
          left: 5rem;
        }

        ul {
          li {
            a {
              border-bottom: 3px solid transparent;
              color: $color-gray;
              text-decoration: none;

              &:hover {
                border-color: $brand-teal-medium;
                color: $brand-blue-dark;
              }

              &:visited {
                color: $color-gray;
              }
            }
          }
        }
      }

      &.logos {
        @media screen and (max-width: $breakpoint) {
          text-align: left;
        }

        @media screen and (min-width: $breakpoint) {
          right: 5rem;
          text-align: right;
        }

        ul {
          li {
            a {
              img {
                @media screen and (min-width: $breakpoint) {
                  height: 7rem;

                  + span {
                    display: none;
                  }
                }

                @media screen and (min-width: 1000px) {
                  height: 10rem;
                }
              }

              @media screen and (max-width: $breakpoint) {
                border-bottom: 3px solid transparent;
                color: $color-gray;
                text-decoration: none;

                &:hover {
                  border-color: $brand-teal-medium;
                  color: $brand-blue-dark;
                }

                &:visited {
                  color: $color-gray;
                }
              }
            }
          }
        }
      }
    }
  }

  &.dark {
    background-color: $color-gray-dark;
    color: $color-gray-lighter;

    .footer-content {
      div.links {
        ul {
          li {
            a {
              color: $color-gray-lighter;

              &:hover {
                color: $color-gray-lighter;
              }

              &:visited {
                color: $color-gray-lighter;
              }
            }
          }
        }
      }

      div.logos {
        ul {
          li {
            a {
              @media screen and (max-width: $breakpoint) {
                color: $color-gray-lighter;

                &:hover {
                  color: $color-gray-lighter;
                }

                &:visited {
                  color: $color-gray-lighter;
                }
              }
            }
          }
        }
      }
    }
  }
}
