@import 'variables';

header.main {

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.white {
    background-color: $color-white;

    nav.main {
      background-color: $color-white;
    }
  }

  &.dark {
    background-color: #323a45;

    nav.main {
      background-color: #323a45;

      .hamburger-inner {
        background-color: $color-white;
        &::before, &::after {
          background-color: $color-white;
        }
      }

      svg {
        .cls-1 {
          fill: $color-white;
        }
      }

      ul {
        li {
          a {
            color: $color-gray-lighter;
            i {
              color: $color-gray-lighter;
            }
          }
        }
      }
    }
  }

  &.transparent {
    background-color: transparent;

    nav.main:not(.not-at-top) {
      background-color: transparent;
    }
  }

  nav.main {
    box-shadow: none;
    padding-left: 1.75rem;
    position: fixed;
    top: 0;
    transition: 0.5s box-shadow, 0.5s background-color;
    width: 100%;
    z-index: 3;

    @media screen and (min-width: $medium-screen) {
      font-size: 1em;
      padding: 1.5rem 2rem;
      text-align: left;
    }

    .svg-container {
      left: 50%;
      transform: translateX(-50%);
      position: absolute;

      @media screen and (min-width: $small-screen) {
        float: left;
        left: 0;
        position: relative;
        transform: none;
      }

      svg {
        height: 20px;
        left: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        top: 0;
        width: 83px;

        @media screen and (min-width: $medium-screen) {
          height: 25px;
          margin-bottom: 7.5px;
          margin-top: 7.5px;
          width: 103px;
        }

        @media screen and (min-width: $large-screen) {
          height: 30px;
          margin-bottom: 5px;
          margin-top: 5px;
          width: 124px;
        }
      }
    }

    ul {
      display: none;
      margin-bottom: 0;
      margin-top: 0;

      @media screen and (min-width: $medium-screen) {
        display: inline-block;
      }


      &.right {
        position: absolute;
        right: 2rem;
        top: 1.75rem;

        li {
          margin-left: 0rem;
          margin-right: 0rem;
          padding-left: 1rem;
          padding-right: 1rem;

          &:not(:first-child) {
            border-left: 2px solid #5b616b;
          }

          .follow-us {
            font-size: 0.75em;
            text-decoration: none;
            vertical-align: top;

            @media screen and (min-width: $medium-screen) {
              .follow-us {
                display: inline-block;
              }
            }
          }
        }
      }

      li {
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        vertical-align: top;

        @media screen and (min-width: $medium-screen) {
          font-size: 0.8em;
          margin-left: 2rem;
        }

        @media screen and (min-width: $large-screen) {
          font-size: 1em;
          margin-left: 4rem;
        }

        a {
          display: block;
          line-height: 40px;

          &.active {
            color: $brand-blue-dark;
          }

          i {
            color: #5b616b;
            font-size: 1.5em;
            line-height: 40px;

            &:hover {
              color: $brand-blue-dark;
            }
          }
        }
      }
    }
  }
}
