a, .default-link {

  background-color: transparent;
  color: $brand-teal-dark;
  cursor: pointer;
  text-decoration: underline;

  &:visited:not(:hover) {
    color: $brand-teal-dark;
  }

  &:hover {
    color: $brand-teal;
  }

}

a.link {
  color: $color-gray;
  text-decoration: none;

  &:visited {
    color: $color-gray;
  }

  &:hover {
    border-bottom: 3px solid #23C0BA;
    color: $brand-blue-dark;
  }

  &.link--active {
    color: $brand-blue-dark;
    font-weight: bold;
  }

  &.light {
    a.link {
      color: $color-gray-lighter;

      &:visited {
        color: $color-gray-lighter;
      }

      &:hover {
        color: $color-white;
      }

      &.link--active {
        color: $color-white;
      }
    }
  }

}

.block--dark, footer.dark {
  @extend a.link.light;
}
