.sidebar {
  display: none;
  position: relative;

  @media screen and (min-width: $medium-screen) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: block;

    &.left {
      float: left;
    }
    &.right {
      float: right;
    }

    a {
      border: none;
      color: $color-black-light;
      display: block;
      font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      font-size: 0.95em;
      line-height: 1.3;
      padding: 0.85rem 1rem 0.85rem 1.5rem;
      text-decoration: none;

      &:hover {
        background-color: $color-gray-lightest;
      }

      &.current {
        color: $color-blue;
        font-weight: 700;
      }
    }

    // first-level list
    > ul {
      background-color: transparent;
      border-bottom: none;
      border-top: none;
      display: block;
      list-style-type: none;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
      position: relative;

      > li, >* > li {

        // first-level option
        > a {
          &.current {
            border-left: 0.4rem solid $color-blue;
            padding-left: 1.1rem;
          }
        }

        ul {

          // defaults to hidden but show when user
          // selects section
          display: none;

          li {
            a {
              padding-left: 2.8rem;
            }
            ul {
              li {
                a {
                  padding-left: 3.8rem;
                }
              }
            }
          }
        }
      }

      // if li is current display all the lists under it
      li.current {
        ul {
          display: block;
        }
      }

    }
  }
}
