
.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-ok-circled2:before { content: '\e802'; } /* '' */
.icon-arrows-cw:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-floppy:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */