@font-face {
  font-family: 'code-gov';
  src: url('../font/code-gov.eot?26134518');
  src: url('../font/code-gov.eot?26134518#iefix') format('embedded-opentype'),
       url('../font/code-gov.woff2?26134518') format('woff2'),
       url('../font/code-gov.woff?26134518') format('woff'),
       url('../font/code-gov.ttf?26134518') format('truetype'),
       url('../font/code-gov.svg?26134518#code-gov') format('svg');
  font-weight: normal;
  font-style: normal;
}
