@font-face {
  font-family: 'code-gov';
  src: url('../font/code-gov.eot?2257399');
  src: url('../font/code-gov.eot?2257399#iefix') format('embedded-opentype'),
       url('../font/code-gov.woff2?2257399') format('woff2'),
       url('../font/code-gov.woff?2257399') format('woff'),
       url('../font/code-gov.ttf?2257399') format('truetype'),
       url('../font/code-gov.svg?2257399#code-gov') format('svg');
  font-weight: normal;
  font-style: normal;
}
