.usa-banner{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06471rem;
  line-height:1.52155;
  background-color:#f0f0f0;
}

.usa-banner__content{
  margin-left:auto;
  margin-right:auto;
  max-width:64rem;
  padding-left:1rem;
  padding-right:1rem;
  padding-left:1rem;
  padding-right:1rem;
  background-color:transparent;
  font-size:0.99816rem;
  overflow:hidden;
  padding-bottom:1rem;
  padding-left:0.5rem;
  padding-top:0.25rem;
  width:100%;
}

.usa-banner__content p:first-child{
  margin:0;
}

.usa-banner__guidance{
  padding-top:1rem;
}

.usa-banner__inner{
  padding-left:1rem;
  padding-right:1rem;
  margin-left:auto;
  margin-right:auto;
  max-width:64rem;
  padding-left:1rem;
  padding-right:1rem;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  padding-right:0;
}

.usa-banner__header{
  padding-bottom:0.5rem;
  padding-top:0.5rem;
  font-size:0.79853rem;
  font-weight:normal;
  min-height:3rem;
  position:relative;
}

.usa-banner__header-close-text{
  margin-bottom:0;
  margin-top:0;
  color:#565c65;
  display:none;
  font-size:0.79853rem;
  line-height:1.12707;
  padding-top:0.25rem;
}

.usa-banner__header--expanded .usa-banner__header-close-text{
  display:block;
}

.usa-banner__header-text{
  margin-bottom:0;
  margin-top:0;
  font-size:0.79853rem;
  line-height:1.12707;
}

.usa-banner__header-action{
  color:#005ea2;
  line-height:1.12707;
  margin-bottom:0;
  margin-top:2px;
  text-decoration:underline;
}

.usa-banner__header-action::after{
  background-image:url("../img/angle-arrow-down-primary.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image:url("../img/angle-arrow-down-primary.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:0.5rem;
  content:'';
  display:inline-block;
  height:0.5rem;
  width:0.5rem;
  margin-left:0.25rem;
}

.usa-banner__header-action:hover::after{
  background-image:url("../img/angle-arrow-down-primary-hover.svg"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image:url("../img/angle-arrow-down-primary-hover.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
}

.usa-banner__header--expanded .usa-banner__header-action{
  display:none;
}

.usa-banner__header-flag{
  float:left;
  margin-right:0.5rem;
  width:1rem;
}

.usa-banner__header--expanded{
  padding-right:3.5rem;
}

.usa-banner__header--expanded .usa-banner__inner{
  margin-left:0;
}

.usa-banner__header--expanded .usa-banner__header-action{
  display:none;
}

.usa-banner__button{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  -webkit-box-shadow:none;
          box-shadow:none;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  position:absolute;
  left:0;
  position:absolute;
  bottom:0;
  top:0;
  color:#005ea2;
  text-decoration:underline;
  vertical-align:baseline;
  display:block;
  font-size:0.79853rem;
  height:auto;
  line-height:1.12707;
  padding-top:0;
  padding-left:0;
  text-decoration:none;
  width:auto;
}

.usa-banner__button:hover{
  color:#1a4480;
}

.usa-banner__button:active{
  color:#162e51;
}

.usa-banner__button:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}

.usa-banner__button:visited{
  color:#562b97;
}

.usa-banner__button:hover, .usa-banner__button:active{
  -moz-osx-font-smoothing:auto;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color:transparent;
  -webkit-box-shadow:none;
          box-shadow:none;
  text-decoration:underline;
}

.usa-banner__button[aria-expanded=false]{
  background-image:none;
}

.usa-banner__button[aria-expanded=true]{
  background-image:none;
}

.usa-banner__button[aria-expanded=true]::after{
  position:absolute;
  right:1rem;
  top:0.75rem;
}

.usa-banner__button-text{
  position:absolute;
  left:-999em;
  text-decoration:underline;
}

.usa-banner__icon{
  width:2.5rem;
}
