<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>{{site.brand}} Style Guide</title>
  <link rel="stylesheet" href="{{ '/assets/css/code-gov-font-face.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/tt_lakes_medium-webfont.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
</head>
<body>
  {% include header.html site=site %}
  <div class="shared-layout">
    <div class="banner large">
      <div class="banner-content">
        <div class="banner-title">{{site.brand}} Style Guide</div>
      </div>
    </div>
  </div>
</body>
</html>
